<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role2Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Failure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{145,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,175}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>Role2Frozen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Hole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Victory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{140,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,185}}</string>
                <key>sourceSize</key>
                <string>{140,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role2.png</string>
            <key>size</key>
            <string>{1681,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c8cf574628c0b9d721ef4ac72dff97$</string>
            <key>textureFileName</key>
            <string>Role2.png</string>
        </dict>
    </dict>
</plist>
