<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role4Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,839},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Failure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{165,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,177}}</string>
                <key>sourceSize</key>
                <string>{165,177}</string>
            </dict>
            <key>Role4Frozen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,655},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Hole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,471},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,312},{157,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,178}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{157,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,178}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{151,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{145,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Victory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,155},{155,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,181}}</string>
                <key>sourceSize</key>
                <string>{155,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role4.png</string>
            <key>size</key>
            <string>{376,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9516a843de67ef5b29c48e30643a949b$</string>
            <key>textureFileName</key>
            <string>Role4.png</string>
        </dict>
    </dict>
</plist>
