<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role1Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,128},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,128},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Failure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,128},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>Role1Frozen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,125},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Hole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Victory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{121,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,189}}</string>
                <key>sourceSize</key>
                <string>{121,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role1.png</string>
            <key>size</key>
            <string>{1414,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:294ade0b18fea2e8cba34efaa428cdc7$</string>
            <key>textureFileName</key>
            <string>Role1.png</string>
        </dict>
    </dict>
</plist>
