<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>00_00.png</key>
<dict>
<key>frame</key>
<string>{{0,202},{184,173}}</string>
<key>offset</key>
<string>{-2,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,0},{184,173}}</string>
<key>sourceSize</key>
<string>{192,173}</string>
</dict>
<key>00_01.png</key>
<dict>
<key>frame</key>
<string>{{184,375},{176,151}}</string>
<key>offset</key>
<string>{1,-11}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{9,22},{176,151}}</string>
<key>sourceSize</key>
<string>{192,173}</string>
</dict>
<key>00_02.png</key>
<dict>
<key>frame</key>
<string>{{0,375},{184,153}}</string>
<key>offset</key>
<string>{4,-10}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{8,20},{184,153}}</string>
<key>sourceSize</key>
<string>{192,173}</string>
</dict>
<key>00_03.png</key>
<dict>
<key>frame</key>
<string>{{184,202},{188,157}}</string>
<key>offset</key>
<string>{2,-8}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{4,16},{188,157}}</string>
<key>sourceSize</key>
<string>{192,173}</string>
</dict>
<key>00_04.png</key>
<dict>
<key>frame</key>
<string>{{164,528},{186,133}}</string>
<key>offset</key>
<string>{-3,-12}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,32},{186,133}}</string>
<key>sourceSize</key>
<string>{192,173}</string>
</dict>
<key>01_00.png</key>
<dict>
<key>frame</key>
<string>{{380,0},{130,130}}</string>
<key>offset</key>
<string>{-3,12}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{32,24},{130,130}}</string>
<key>sourceSize</key>
<string>{200,202}</string>
</dict>
<key>01_01.png</key>
<dict>
<key>frame</key>
<string>{{372,202},{134,146}}</string>
<key>offset</key>
<string>{-5,6}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{28,22},{134,146}}</string>
<key>sourceSize</key>
<string>{200,202}</string>
</dict>
<key>01_02.png</key>
<dict>
<key>frame</key>
<string>{{0,528},{164,170}}</string>
<key>offset</key>
<string>{-11,-5}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{7,21},{164,170}}</string>
<key>sourceSize</key>
<string>{200,202}</string>
</dict>
<key>01_03.png</key>
<dict>
<key>frame</key>
<string>{{200,0},{180,180}}</string>
<key>offset</key>
<string>{-7,4}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{3,7},{180,180}}</string>
<key>sourceSize</key>
<string>{200,202}</string>
</dict>
<key>01_04.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{200,202}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{200,202}}</string>
<key>sourceSize</key>
<string>{200,202}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>blef_000_0.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>TextureFileName</key>
<string>blef_000_0.png</string>
</dict>
</dict>
</plist>
